<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Socialize</title>
</head>
<body>
<div>
<h1 class="topbar">Socialize!</h1>

<div class="main-div">
    <div class="navi-bar">
        <div class="navi-box">Profile</div>
        <div class="navi-box">Friends</div>
        <div class="navi-box">Photos</div>
        <div class="navi-box">Groups</div>
        <div class="navi-box">Events</div>
        <div class="navi-box">Log Out</div>

    </div>
    <div class="home-div">
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
    </div>
</div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/main-page.js}"></script>
</html>