<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title th:text="${user.name} + ' ' + ${user.surname}">Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<div class="profile profile-label">
    <p th:text="${user.name} + ' ' + ${user.surname}"></p>
</div>
<div class="profile">
    <div class="profile profile-info">
        <p th:text="'Works at: ' + ${user.workplace} "></p>
        <p th:text="'Lives in: ' + ${user.residence} "></p>
        <p th:text="'From: ' + ${user.origin} "></p>
        <p th:text="'Studied at: ' + ${user.university} "></p>
    </div>

    <div class="profile profile-info">
        <p>...(posts will be here)...</p>
    </div>
</div>


</body>
</html>