<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Welcome to Socialize!</title>

</head>
<body>

<h1>Welcome to Socialize!</h1>
<div class="center">
    <div><label>Email address:</label><input title="email" id="emailInput" type="email"></div>
    <div><label>Password:</label><input title="password" id="passwordInput" type="password"></div>
    <div><label>Name:</label><input title="password" id="nameInput" type="text"></div>
    <div><label>Surname:</label><input title="password" id="surnameInput" type="text"></div>
    <div class="buttons-container">
        <button id="loginButton">Login</button>
        <button id="registerButton">Register</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/registration.js}"></script>

</body>
</html>