body {
    background-color: aliceblue;
    margin: 0;
}
h1 {

    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #82b6b7;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

div.center {
    padding: 20px;
    text-align: center;
    font-family: "Montserrat", "Avenir";
}

div label {
    width: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block
}

input {
    width: 250px;
    height: 1.5em;
}


button {
    width: 100px;
    height: 1.5em;
}


/*button:hover {*/
    /*background: #88CC88;*/
    /*transition: 0.4s;*/
    /*}*/

/*div.buttons-container {*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*}*/


