body {
    background-color: aliceblue;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}
.topbar {
    margin-left: 40%;
    margin-right: 40%;
    padding-top:15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #82b6b7;
    margin: 0;
}

div.center {
    padding: 20px;
    text-align: center;

}

div label {
    width: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block
}

input {
    width: 80%;
    height: 1.5em;
}


button {
    width: 100px;
    height: 1.5em;
}

.form{
    position: absolute;
    text-align: center;
    border: solid 5px #82b6b7;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;

}

.form  input{
    margin-bottom: 10px;
}

.form button{
    color: white;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    padding: auto;
    background-color: #82b6b7;
    height: 4em;
    width: 70%;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    font-size: 16px;
}

.main-div{
    float: top;
    position: relative;
    width: auto;
    height: auto;
    background-color: #82b6b7;
}

.navi-bar{
    width: 15%;
    height: auto%;
    background-color: red;
    margin: 5%;
    float:left;
}

.home-div{
    width: 75%;
    height: auto;
    background-color: greenyellow;
}
